<nav class="navbar navbar-expand-lg navbar-light shadow-sm">
    <div class="container-fluid"> 
        <!-- Brand Name with Custom Font -->
        <a routerLink="home" class="navbar-brand d-flex align-items-center" style="font-family: 'Roboto', sans-serif; font-weight: bold;">
            <img src="../../assets/images/icons/android-chrome-512x512.png" alt="" class="logo"> car rentals
        </a>

        <!-- Navbar Toggler Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Links and Auth Buttons -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto"> 
                <li class="nav-item">
                    <a class="nav-link" routerLink="home" routerLinkActive="active"><i class="fas fa-home"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="search" routerLinkActive="active"><i class="fa-solid fa-magnifying-glass"></i> Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="deals" routerLinkActive="active"><i class="fas fa-info-circle"></i> Deals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="contactus" routerLinkActive="active"><i class="fas fa-phone"></i> Contact Us</a>
                </li>
            </ul>

            <!-- log in and sign up -->
            <ul class="navbar-nav ms-auto d-flex"> 
                <li class="nav-item">
                    <div class="border border-dark rounded px-3 py-3 m-1">
                        <a class="nav-link p-0" style="line-height: 1;" routerLink="signup" routerLinkActive="active">
                            <i class="fa-solid fa-user-plus"></i> SignUp
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="border border-dark rounded px-3 py-3 m-1">
                        <a class="nav-link p-0" style="line-height: 1;" routerLink="log-in" routerLinkActive="active">
                            <i class="fa-solid fa-right-to-bracket"></i> Login
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

