<body class="pt-5">
    <div class="container form-container d-flex justify-content-center align-items-center mt-5  ">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="p-4 border rounded shadow-lg form-bg"
            style="width: 100%; max-width: 500px;">
            <h2 class="form-title text-center mb-4"> <i class="fa-solid fa-right-to-bracket"></i> Sign Up</h2>
            <img src="" alt="">
            <!-- First Name -->
            <div class="form-group mb-3">
                <label for="fn">First Name</label>
                <input name="firstName" formControlName="firstName" id="fn" type="text"
                    class="form-control form-control-lg rounded-pill" placeholder="Enter your first name" required>
                <div class="alert  mt-2"
                    *ngIf="registerForm.controls.firstName.invalid && registerForm.controls.firstName.touched">
                    <p>Please start with a capital letter & in range from 3 to 10 characters.</p>
                </div>
            </div>

            <!-- Last Name -->
            <div class="form-group mb-3">
                <label for="ln">Last Name</label>
                <input name="lastName" formControlName="lastName" id="ln" type="text"
                    class="form-control form-control-lg rounded-pill" placeholder="Enter your last name" required>
            </div>
            <!-- User Name -->

            <div class="form-group mb-3">
                <label for="fn">User Name</label>
                <input name="username" formControlName="username" id="fn" type="text"
                    class="form-control form-control-lg rounded-pill" placeholder="Enter your first name" required>
                <div class="alert  mt-2"
                    *ngIf="registerForm.controls.username.invalid && registerForm.controls.username.touched">
                    <p>Please start with a capital letter & in range from 3 to 10 characters.</p>
                </div>
            </div>

            <!-- Email -->
            <div class="form-group mb-3">
                <label for="email">Email</label>
                <input formControlName="email" id="email" type="email" class="form-control form-control-lg rounded-pill"
                    placeholder="Enter your email" required>
                <div class="alert " *ngIf="registerForm.controls.email.invalid && registerForm.controls.email.touched">
                    <p>Please enter a valid email address.</p>
                </div>
            </div>

            <!-- Password -->
            <div class="form-group mb-3">
                <label for="pass">Password</label>
                <input formControlName="password" id="pass" type="password"
                    class="form-control form-control-lg rounded-pill" placeholder="Enter your password" required>
                <div class="alert "
                    *ngIf="registerForm.controls.password.invalid && registerForm.controls.password.touched">
                    <p>Password must be at least 6 characters long and contain at least one letter</p>
                </div>
            </div>

            <!-- Confirm Password -->
            <div class="form-group mb-3">
                <label for="confirmPass">Confirm Password</label>
                <input formControlName="confirmPassword" id="confirmPass" type="password"
                    class="form-control form-control-lg rounded-pill" placeholder="Confirm your password" required>
                <div class="alert " *ngIf="!passwordsMatch() && registerForm.controls.confirmPassword.touched">
                    <p>Passwords do not match.</p>
                </div>
            </div>
            <p class="ps-2">Already have an account? <a routerLink="/log-in">Log In</a></p>
            <!-- Submit Button -->
            <button class="btn btn-warning btn-lg w-100 rounded-pill mt-4">Submit</button>
        </form>
    </div>

</body>