<div class="home-body">

  <header>
    <div class="hero-section">
      <div class="overlay">
        <h1>Welcome to Our Car Rental Service</h1>
        <p>Find the perfect car for your journey with ease.</p>
      </div>
    </div>
  </header>

  <section class="filter-section">
    <h2>Filter Cars</h2>
    <div class="filter-container">
      <div class="filter-row">
        <input type="text" placeholder="Maker of car" [(ngModel)]="filter.maker">
        <input type="text" placeholder="Model of car" [(ngModel)]="filter.model">
        <input type="text" placeholder="Hour Price" [(ngModel)]="filter.hourPrice">
      </div>
      <div class="filter-row">
        <input type="text" placeholder="Location" [(ngModel)]="filter.location">
        <input type="text" placeholder="Transmission Type" [(ngModel)]="filter.transmissionType">
        <button (click)="filterCars()">Search →</button>
      </div>
    </div>
  </section>

  <div class="container" style="margin: 0 auto; padding-top: 30px;">
    <h2>Popular Cars 🔥</h2>

    <mat-grid-list [cols]="gridCols" rowHeight="2:3" gutterSize="16">
      <mat-grid-tile *ngFor="let car of carsList">
        <mat-card>
          <img class="car-image" [src]="car.image || '../../assets/car.png'" alt="Car Image">
          <mat-card-content>
            <div class="maker-model">
              <span class="makermodel_span">{{car.maker}} {{car?.model}}</span>
            </div>

            <div style="display: flex;">
              <p>⭐</p>
              <div class="rating"><span class="rating_span">{{car?.rating}}</span></div>
              <div class="reviewscount-reviews">
                <span class="reviewscountreviews_span">({{car?.reviewsCount}} reviews)</span>
              </div>
            </div>

            <div style="display: flex; justify-content: space-between;">
              <div class="text-3-passengers">
                <span class="fpassengers_span">👤 {{car?.numberOfPassengers}} Passengers</span>
              </div>
              <div class="manual">
                <span class="manual_span">⚙️ {{car?.transmissionType}}</span>
              </div>
            </div>

            <div class="line-2"></div>

            <div style="display: flex; justify-content: space-between;">
              <div class="price"><span class="price_span">Price</span></div>
              <div class="text--30-hour">
                <span class="f0hour_span_01">$ {{car?.hourPrice}}</span>
                <span class="f0hour_span_02">/hour</span>
              </div>
            </div>
          </mat-card-content>

          <mat-card-actions>
            <button mat-button>{{ car.isBooked ? 'View Details' : 'Rent Now' }}</button>
          </mat-card-actions>

          <div class="rectangle-7" *ngIf="car.isBooked">Booked</div>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="pagination">
    <button mat-button class="page-btn" (click)="previousPage()" [disabled]="currentPage === 1">
      <mat-icon>chevron_left</mat-icon>
    </button>

    <button *ngFor="let page of pages" mat-button class="page-btn" [ngClass]="{'active': page === currentPage}"
      (click)="setPage(page)">
      {{ page }}
    </button>

    <button mat-button class="page-btn" (click)="nextPage()" [disabled]="currentPage === totalPages">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>

</div>
